<p>
  I’m a freelance designer from Southern Ontario! One could summarise my passions as an inescapable drive to bring ideas to life! Either through motion animation or visual identity.
I’ve been  in the industry for almost 4 years now and am taking on freelance work and side projects due to my over attentive nature and desire to never stand still. The world of design is an ever-changing industry and it’s great being able to run with it and always learn new things. That’s why my motto is to never stand still, there so much out there and I know I’ll never find it if I don’t put one foot in front of the other and grab it myself!
In my spare time, I enjoy sculpting, sketching, sewing and playing around in After Effects.
</p>
<h4 class="text-center"><i>Never Stand Still</i></h4>
