<h3 class="text-center">Social Media</h3>
<p>Together with the GCM’s (Game Community Managers) I helped create a wide variety of videos for Disney Magic Kingdoms social media pages.
  <br>
  My favorite projects involved informing current and future players alike of the upcoming content each month.
  <br>
  This entailed animating videos of our character lineups, Live Streams with the game community managers playing the game accompanied by animated informative overlays, and custom quizzes at the start with prizes for those who tuned in!
</p>

<div>

</div>

<ul class="grid list-group--inline">

  <li class=" center island-1-2 unit [ xs-1 s-1-1 m-1-1 l-1-1 ]">
    <img class="img-flex w-1" src="{{site.baseurl}}/images/DMK/SNS_Socials_Banner_Top.jpg" alt="Disney Magic Kingdoms Banner">
  </li>

  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-2 ]">
    <video class="img-flex" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen autoplay loop muted playsinline >
      <source src="{{site.baseurl}}/images/DMK/DMK_23388_V_UP74StoryScroll_ON02_1350x1080.mp4" type="video/mp4" />
    </video>
  </li>
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-2 ]">
    <video class="img-flex" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen autoplay loop muted playsinline >
      <source src="{{site.baseurl}}/images/DMK/UP80_PackArtAnimated_OFF02_1080x1350_EN.mp4" type="video/mp4" />
    </video>
  </li>
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-2 ]">
    <video class="img-flex" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen autoplay loop muted playsinline >
      <source src="{{site.baseurl}}/images/DMK/DMK_23533_V_UP77StoryScroll_ON01_1080x1350.mp4" type="video/mp4" />
    </video>
  </li>
  <li class=" center island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-2 ]">
    <video class="img-flex" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen autoplay loop muted playsinline >
      <source src="{{site.baseurl}}/images/DMK/DMK_23585_V_UP78StoryScroll_ON01_1080x1350.mp4" type="video/mp4" />
    </video>
  </li>

  <li class=" center island-1-2 unit [ xs-1 s-1-1 m-1-1 l-1-1 ]">
    <img class="img-flex" src="{{site.baseurl}}/images/DMK/SNS_Socials_Banner_Bottom.jpg" alt="Social Assets Gameloft Copyright">
  </li>
</ul>

<div class="pad-b pad-t">
</div>

<h3 class="text-center">Livestream Animated Graphics and Quizzes</h3>

<div class="video-container">
  <iframe src="https://player.vimeo.com/video/926977962?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>


<ul class="grid list-group--inline">
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-2 ]">
    <video class="img-flex" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen autoplay loop muted playsinline >
      <source src="{{site.baseurl}}/images/DMK/TashaJavon_Up82Livestream.mp4" type="video/mp4" />
    </video>
  </li>
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-2 ]">
    <video class="img-flex" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen autoplay loop muted playsinline >
      <source src="{{site.baseurl}}/images/DMK/Kailey_Up44ScreenGraphics.mp4" type="video/mp4" />
    </video>
  </li>
</ul>
