<h3 class="text-center">Social Media</h3>
<p>Together with the GCM’s (Game Community Managers) I helped create a wide variety of videos for Disney Magic Kingdoms social media pages.
  <br>
  My favorite projects involved informing our players of the upcoming content each update. From animated videos of our character lineup, and Live Streams with the game community managers playing the game accompanied by animated informative overlays, and custom quizzes at the start with prizes for those who tuned in!
</p>
<ul class="grid list-group--inline">
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-3 ]">
    <img class="img-flex" src="{{site.baseurl}}/images/DMK/DMK_23388_V_UP74StoryScroll_ON02_1350x1080.gif" alt="Aristocats Story Scroll">
  </li>
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-3 ]">
    <img class="img-flex" src="{{site.baseurl}}/images/DMK/UP80_PackArtAnimated_OFF02_1080x1350_EN.gif" alt="Ice Age PackArt Animation">
  </li>
  <li class="island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-3 ]">
    <img class="img-flex" src="{{site.baseurl}}/images/DMK/DMK_23585_V_UP78StoryScroll_ON01_1080x1350.gif" alt="Sword in the Stone Story Scroll">
  </li>
  <li class=" center island-1-2 unit [ xs-1 s-1-2 m-1-2 l-1-1 ]">
    <img class="img-flex" src="{{site.baseurl}}/images/DMK/DMK_23533_V_UP77StoryScroll_ON01_1080x1350.gif" alt="The Muppets Story Scroll">
  </li>
</ul>
<div class="video-container">
  <iframe src="https://player.vimeo.com/video/926977962?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
</div>
