<div class="pad-b-2 pad-t-2 ">
  <div class="slideshow-container">
    <div class="mySlides fade">
        <a href="{{site.baseurl}}/design" >
          <img src="images/carosel/DDN_preview.png" style="width:100%">
        </a>
      <div class="gradient" style="width:100%">
        <div class="text">Daily Dino News</div>
      </div>

    </div>

    <div class="mySlides fade">
      <a href="{{site.baseurl}}/news/2017/06/24/Ottawa-International-Animation-Festival-2017" >
        <img src="images/carosel/OIAF_preview.png" style="width:100%">
      </a>
      <div class="text">OIAF 2017</div>
    </div>

    <div class="mySlides fade">
        <a href="{{site.baseurl}}/news/2017/03/10/Love-Buds/" >
          <img src="images/carosel/LoveBuds_preview.png" style="width:100%">
        </a>
      <div class="text">Love Buds</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <div class="pad-t hover text-center">
    <a class="btn" href="{{site.baseurl}}/gallery">Full Gallery</a>
  </div>
</div>

<script>
var slideIndex = 1;
var slideTimer;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  clearTimeout(slideTimer);
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";

  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slideTimer = setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>
