<div class="pad-b-2 pad-t-2 ">
  <div class="slideshow-container">
    <div class="mySlides fade">
        <a href="{{site.baseurl}}/illustration/design/motion/2018/01/10/daily_dino_news" >
          <img src="images/carosel/DDN_preview.png" style="width:100%">
        </a>
      <div class="gradient" style="width:100%">
        <div class="text">Daily Dino News</div>
      </div>

    </div>

    <div class="mySlides fade">
      <a href="{{site.baseurl}}/illustration/design/2017/06/24/Ottawa-International-Animation-Festival-2017" >
        <img src="images/carosel/OIAF_preview.png" style="width:100%">
      </a>
      <div class="text">OIAF 2017</div>
    </div>

    <div class="mySlides fade">
        <a href="{{site.baseurl}}/illustration/design/motion/2017/03/10/Love-Buds/" >
          <img src="images/carosel/LoveBuds_preview.png" style="width:100%">
        </a>
      <div class="text">Love Buds</div>
    </div>
    <div class="hover fade">
      <a class="prev" onclick="plusSlides(-1)"><svg id="copyright" xmlns="http://www.w3.org/2000/svg" width="20.1" height="46.1" viewBox="0 0 25.1 51.5"><path d="M20.1,5S5,9.5,5,25.4,20.1,46.5,20.1,46.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"/></svg></a>
      <a class="next" onclick="plusSlides(1)"><svg id="copyright" xmlns="http://www.w3.org/2000/svg" width="20.1" height="46.1" viewBox="0 0 25.1 51.5"><path d="M5,5S20.1,9.5,20.1,25.4,5,46.5,5,46.5" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="10"/></svg></a>
    </div>
  </div>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

  <div class="clickable hover bracket gutter-1-2 fade" style="text-align:center">
    <a class="btn giga" href="{{site.baseurl}}/gallery">Full Gallery</a>
  </div>
</div>

<script>
var slideIndex = 1;
var slideTimer;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  clearTimeout(slideTimer);
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";

  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slideTimer = setTimeout(showSlides, 3000); // Change image every 2 seconds
}
</script>
