---
layout: default
title: Disney Magic Kingdoms
meta: Disney Magic Kingdoms Senior Motion Designer
source: https://bles0009.myportfolio.com/
categories:
- motion
- design

preview: card-DMK.jpg
---

{% include nav.html %}

<div class="img-fade">
  <img class="img-flex w-1" src="{{site.baseurl}}/images/DMK/DMK_Banner.gif" alt="Disney Magic Kingdoms Banner">
</div>

<div class="pad-b">
<h2 class="text-center">Disney Magic Kingdoms</h2>

<p>I had the pleasure of working as a Senior Motion Designer on Disney Magic Kingdoms!
<br>Disney Magic Kingdoms is a simulation game that lets players create their very own magical kingdom with fantastical rides and hundreds of Disney, Pixar, and Star Wars characters! With over 50 million downloads and a vibrant community of active players, I’ve had the opportunity to drum up excitement with existing players and bring in new ones too.
<br>My roles as Senior Motion Designer ranged from animating videos for social media and User Acquisition ads, to collaborating with the development teams to help brainstorm content for each update.
</p>
</div>

<div>
  <h3 class="text-center">User Acquisition</h3>
  <p>
    I was tasked with creating ads to run and test on ongoing campaigns across a wide variety of networks including Meta(Instagram, Facebook), Adwords, Snapchat and Tiktok.
    <br>I created performing assets, taking inspiration from trends using Sensortower, rigorously testing iterations of my ads and keeping up with a monthly schedule of new concepts to try.
    <br>Here is a sample of some of the top performers!
  </p>

  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/934835862?h=4b8b23a052&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
  </div>
  <p>This ad showcases Disney Magic Kingdoms visitor wish system where players can grant visitor requests for specific rides, when you place the right attraction the visitors will ride it and reward the player! This ad incorporated additional elements like emoji reactions and additional UI to communicate correct and incorrect choices to make the actions and consequences more readable! This asset performed particularly well on Adwords.
  </p>

  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/934839033?h=ef3fe763e7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
  </div>
  <p>Disney Magic Kingdoms features not only iconic Disney heroes, but the villains of their films as well! This ad's goal was to showcase the dynamic interactions they have with one another. Many character combinations were tested and Iterated- including Ariel vs Ursula, Aurora vs Maleficent, Bell vs Gaston, and Hercules vs Hades.
    Simba vs Scar was the Iteration that came out on top!
  </p>

  <div class="video-container">
    <iframe src="https://player.vimeo.com/video/934845191?h=7db8d64d34&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="100%" height="700" frameborder="0" allow="autoplay; fullscreen" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>
  </div>
  <p>The following is one of DMK’s top performers on facebook to date! The goal was to create a simplified character collection sequence with fail and win scenarios.
    It explored various intentions and IP’s, with the Fail Iteration performing the best.
  </p>
</div>

{% include DMK-SNS.html %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "CreativeWork",
  "name": "Disney Magic Kingdoms Motion, Editing, and Design",
  "author": {
    "@type": "Person",
    "name": "Cecilia Bleszynski"
  },
  "image": "http://cylka.ca/images/OIAF/welcome.png",
  "url": "http://cylka.ca/illustration/design/2017/06/24/Ottawa-International-Animation-Festival-2017/",
  "dateCreated": "2017-06-10",
  "description": "Festival design of program guides, as well as building online advertisements, posters, festival passes, and visuals for the schedule application.",
  "keywords": "motion, graphic, design, Disney, Magic Kingdom, Video Game, SNS, Social Media, UA, User Acquisition,"
}
</script>
